{% extends "base.html" %}
{% block title %}Welcome to EasyVax{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Welcome to EasyVax</h1>
  <p>Register or Login here</p>
  <form name="registration-form" action='/register-doctor' method='post'>
    <label>Name</label>
    <input name="name" type="text" required>
    <label>Email Address</label>
    <input name ="email-address" onfocusout="checkIfUserExistsWithEvent(event)" type="email" required>
    <label>Phone Number</label>
    <input name ="phone-number" type="text" required>
    <label>ID</label>
    <input name="government-id" type="text" required>
    <label>Password</label>
    <input name="password" type="password" required>
    <input type="submit" />
  </form>

  <form name="login-form" action="{{ url_for('login_doctor') }}" method='post'>
    <label>Email Address</label>
    <input name ="email-address" type="email" required>
    <label>Password</label>
    <input name="password" type="password" required>
    <input type="submit" />
  </form>
  <script src="{{ url_for('static', filename='js/validate-users-form.js') }}"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}