{% extends "base.html" %}
{% block title %}Welcome to EasyVax{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Welcome to EasyVax</h1>
  <p>Register or Login here</p>
  <form action='/patients' method='post'>
    <label>Name</label>
    <input name="name" type="text" required>
    <label>Email Address</label>
    <input name ="email-address" type="email" required>
    <label>ID</label>
    <input name="id_number" type=text required>
    <label>Password</label>
    <input name="password" type="password" required>
    <input type="submit" />
  </form>
  <form action="{{ url_for('patients') }}" method='post'>
    <label>Email Address</label>
    <input name ="email-address" type="email" required>
    <label>Password</label>
    <input name="password" type="password" required>
    <input type="submit" />
  </form>
{% endblock %}