{% extends "base.html" %}
{% block title %}EasyVax - Patients List{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/patient.css') }}">
{% endblock %}
{% block content %}
    <a href="{{ url_for('logout_doctor') }}">Logout</a>
    <form name="patient-registration-form" action="{{ url_for('register_patient') }}" method='post'>
      <label>Name</label>
      <input name="name" type="text" required>
      <label>Email Address</label>
      <input name ="email-address" type="email" required>
      <label>Phone Number</label>
      <input name ="phone-number" type="text" required>
      <input type="submit" />
    </div>
    <div id="patient-list">
      <p>Patient Name</p><p>Patient Email</p><p>Patient Phone Number</p><p>Update Vaccine Record</p><p>Email Vaccine Certificate</p>
      {% for patient in patients %}
        <p>{{patient.name}}</p><p>{{patient.email}}</p><p>{{patient.phone_number}}</p><a href="{{ url_for('vaccine_record', patient_id=patient.id) }}">Update Vaccine Record</a><a href="{{ url_for('send_certificate', patient_id=patient.id) }}">Email Vaccine Certificate</a>
      {% endfor %}
  </div>
{% endblock %}